<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <form method="get" action="/favorites" class="button_to">
        <div><input value="My Favorite Venues" type="submit" /></div>
      </form>

      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      <script>
        function initialize() {
          var mapOptions = {
            zoom: 12,
            center: new google.maps.LatLng(37.75225820732335, -122.4371337890625)
          };

          var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

          var marker = null;

          google.maps.event.addListener(map, 'click', function(e) {
            if (marker) {
              marker.setMap(null);
              marker = null;
             }

             marker = placeMarker(e.latLng, map);

             window.location.href = '/search?lat=' + e.latLng.k + '&lng=' + e.latLng.A;
          });
        }

        function placeMarker(position, map) {
          var marker = new google.maps.Marker({
          position: position,
          map: map
          });

          document.getElementById("mapLat").value = position.k;
          document.getElementById("mapLong").value = position.A;
          
          map.panTo(position);
          
          return marker;
        }

        google.maps.event.addDomListener(window, 'load', initialize);
      </script>
        <div id="map-canvas" style="width:500px;height:380px;"></div>
    </div>
    

    <!-- storing lat long as variables to pass into SL api -->
    <div id="info"></div>
    <form method="post" action="/search">
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token ) %>
    	<input type="hidden" id="mapLat" name="lat">
    	<input type="hidden" id="mapLong" name="lng">
    </form>

      <div class="whiteBG col-lg-4">
        <!-- display list of venues on map page when pin is set-->
        <h1>Places nearby:</h1>

        <% if @barlist %>
          <% @barlist.each do |bar| %>
          <ul>
            <li><h4><%= bar["name"] %></h4>

              <!-- store info from SL api in hidden form to allow user to save to favs -->
              <form method= "post" action="/add/favorite" id="favorite">
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token ) %>
                  <input type="hidden" id="name" name="favorite[name]"  value="<%=bar['name']%>" >
                  <button>Add to favorites!</button>
              </form>
              </li>
            </ul>
          <% end %>
        <% end  %> 
      </div>
  </div>
</div>


