#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
	background-image: url("http://www.hd-wallpaper.us/walls/tubo_street_at_night-HD.jpg");
	background-size: cover;
	color: goldenrod;
	text-decoration: bold;
	text-decoration: underline;
}

.whiteBG{
	background-color: rgba(165,166,181,0.75);
}